@import url("http://fonts.cdnfonts.com/css/itim");
@import url("http://fonts.cdnfonts.com/css/jacques-francois");
@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("http://fonts.cdnfonts.com/css/irish-grover");

/*============Body============*/

body {
  background-image: url(./assets/image/background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  height: fit-content;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: #fff;
}

.hidden {
  display: none;
}
/*=============Header==========*/
#header {
  background-color: rgba(0, 0, 0, 0.377);
  padding: 10px 30px;
  box-sizing: border-box;
  height: 100vh;
}
#navigation {
  display: flex;
  justify-content: space-between;
  color: #fff;
  height: 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  z-index: 999;
}

#navigation > a {
  font-size: larger;
  font-family: "Inter";
  text-align: center;
  line-height: 29px;
}
#navigation > a span {
  letter-spacing: 0.35em;
}
#navigation ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 10px;
  font-family: "Itim", sans-serif;
  font-size: 24px;
}

.navActive {
  border-bottom: 3px solid white;
}

#navigation ul li:hover {
  border-bottom: 3px solid white;
}

#header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}
#header_content .header_content_box {
  width: 40%;
  color: #fff;
  font-family: "Itim", sans-serif;
  text-align: justify;
}
#header_content .header_content_box:last-of-type {
  text-align: center;
  font-size: 25px;
}
#header_content .header_content_box a {
  background-color: #f56a6a;
  padding: 10px 15px;
  border-radius: 50px;
  display: block;
  width: 100px;
  margin-top: 15px;
  font-family: "Jacques Francois", sans-serif;
}
#numbercount {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
}

/*===========Story==============*/

#story,
#contact {
  background-color: #fff;
  padding: 20px 30px;
}
h2 {
  text-align: center;
  font-family: "Irish Grover", sans-serif;
  font-size: 32px;
}

#timeline {
  position: relative;
  width: 30%;
}

/* The actual timeline (the vertical ruler) */
#timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #0da8ff;
  top: 0;
  bottom: 0;
  left: 0;
}

/* Container around content */
.container {
  padding: 10px 20px;
  position: relative;
  background-color: inherit;
  /* width: 50%; */
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  /* right: -17px; */
  left: -4px;
  background-color: #0da8ff;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

/* Add arrows to the right container (pointing left) */
.container::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* The actual content */
.content {
  padding: 10px 20px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

#timeline p {
  font-weight: 600;
  color: gray;
}

.active {
  color: black !important;
}

#Box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#Box > div:last-of-type {
  width: 45%;
  text-align: justify;
}
/*==============Contact=============*/
#form {
  display: flex;
  justify-content: space-around;
}

#input {
  display: flex;
  width: 60%;
  justify-content: center;
}

#input ::-webkit-input-placeholder {
  font-family: "Itim", sans-serif;
  color: black;
  margin: 0;
}

#input div:first-of-type {
  display: flex;
  flex-direction: column;
}

#input input {
  padding: 5px;
  margin-top: 15px;
  border: 1px solid rgb(177, 175, 175);
  border-radius: 2px;
  width: 200px;
}

#submit {
  font-family: "Itim", sans-serif;
  background-color: #ff4949;
  border-radius: 25px;
  border: none;
  margin-top: 15px;
  width: 100px;
  padding: 5px 0;
  color: white;
}
#input textarea {
  border: 1px solid rgb(177, 175, 175);
  border-radius: 2px;
  margin-left: 20px;
  height: 30vh;
  width: 20vw;
  margin-top: 15px;
  padding: 5px;
}

/*===========Figures=============*/

#figures {
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

#figures h2 {
  color: #fff;
  text-shadow: 1px 1px gray;
}

#figure {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.figureImg {
  width: 20%;
  height: 25%;
  margin-bottom: 10px;
}

.contentFig {
  width: 48.5%;
}

.nameBox {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 10px;
}

.nameBox button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: larger;
  cursor: pointer;
}

.figPara {
  width: 92%;
  text-align: justify;
  color: white;
  font-family: "Itim", sans-serif;
}

.nameFig {
  font-size: larger;
  font-weight: 600;
  color: #fff;
}

/*===========Footer===============*/

#footer {
  background-image: url(./assets/image/backgroundFooter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -43vh;
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer #logo {
  width: 100px;
  margin: 20px;
}

#footer .icon {
  width: 50px;
  height: 50px;
  margin: 10px;
}

#footer p {
  color: #fff;
  text-align: right;
  margin: 10px;
}

/*--------------------RESPONESIVE----------------*/

@media only screen and (max-width: 756px) {
  /*=======body======*/
  body {
    background-image: url(./assets/image/backgroundRes.jpg);
    background-size: 100vw 100vh;
  }
  /*=======header===========*/
  #navigation {
    position: unset;
  }
  #sideBar {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    right: 0;
    height: 100vh;
    top: -14px;
    padding-right: 10px;
    width: 200px;
  }
  #openNav {
    position: fixed;
    color: #000;
    font-size: 32px;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  #navigation ul li {
    display: block;
    width: 100%;
    margin-top: 50px;
  }
  #header #header_content {
    flex-direction: column;
    margin-top: 7vh;
    justify-content: center;
  }
  #header #header_content .header_content_box {
    width: 100%;
  }
  #header #header_content .header_content_box p {
    font-size: 24px;
  }
  /*=====story========*/
  #story,
  #figures {
    height: 100vh;
  }
  #story {
    position: relative;
    background-clip: padding-box;
    border: 10px solid transparent;
  }
  #story:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: -10px;
    background-image: linear-gradient(to right top, #2979ff, #07a787);
    border-radius: inherit;
  }
  #Box {
    flex-direction: column-reverse;
  }
  #timeline {
    display: none;
  }
  #Box > div:last-of-type {
    width: 100%;
    font-size: 24px;
  }

  #storyBox {
    display: flex;
    justify-content: space-around;
  }

  #storyBox button {
    border: none;
    padding: 0 30px;
    font-size: 32px;
    background-color: transparent;
    font-weight: 600;
  }

  /*======figures======*/
  #figure {
    flex-direction: column;
    align-items: center;
  }
  .nameBox{
    width: 80%;
  }
  .contentFig {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }
  /*======contact======*/
  #contact {
    height: 30vh;
  }
  #form {
    justify-content: center;
  }
  #form img {
    display: none;
  }
  #input textarea {
    width: 50vw;
    height: 100px;
  }
  #footer .icon {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
  }
}
